body{

    background-image: url("background.jpg");
}

canvas{
    animation-name:eg;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

@keyframes eg{

    from{

        box-shadow: 10px 10px 45px pink;
    }

    to{

        box-shadow: 10px 10px 45px red
    }
}

#snap{

    font-size: 20px;
    font-weight: bold;
}